* {
  margin: 0;
  padding: 0;
}

#options {
  text-align: center;
  background-color: cadetblue;
  border-bottom: solid;
  border-color: white
}
.buttonDimension {
  padding: 0.3rem;
  margin: 1rem;
  background-color: aquamarine;
  font-size: 1.2rem;
  font-weight: 600;
}
#gameArea {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  height: 500px;
  background-color: black;
  padding-top: 2rem;
}
.linha {
  border: solid;

  font-size: 10px;
  margin: 1px;
  text-align: center;
  background-color: aquamarine;
}

.linha:hover {
  background-color: blueviolet;
}

